<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Add Company</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <p style="text-align: center;">Please add the necessary information to create a company.</p>
        <form role="form">
            <ion-list>
                <label class="item item-input" ion-item>
                    <input type="text" placeholder="Company Name" />
                </label>
                <label class="item item-input" ion-item>
                    <input type="text" placeholder="Website" />
                </label>
            </ion-list>
        </form>
        <button ng-click="" class="button button-block button-positive">Save</button>
        <button ng-click="closeModal()" class="button button-block button-assertive">Cancel</button>
    </ion-content>
</ion-modal-view>