<ion-view view-title="Companies">
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-nav-title>
        Companies
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.triggerModal()">
            <h3>+</h3>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="company in vm.companies" type="item-text-wrap"
            href="#/tab/chats/{{company.Id}}">
                <h3>{{company.Name}}</h3>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-positive" ng-click="remove(personalLetter)">
                    Edit
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>