
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Chats Tab -->
  <ion-tab title="Companies" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/companies" ng-if="vm.loggedIn">
    <ion-nav-view name="tab-companies"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account" ng-if="vm.loggedIn">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/login" ng-if="!vm.loggedIn">
    <ion-nav-view   name="tab-login"></ion-nav-view>
  </ion-tab>

</ion-tabs>